/* Demo Header with Plain Red Background */
.formidableHeader.redBg {
  background: #c43a31;
}

.formidableHeader.redBg .formidableHeader-by {
  color: #fff;
  text-indent: 12px;
}

/* Demo Header with Text Logo */
.formidableHeader.headerDemo {
  padding: 0;
}

.formidableHeader.headerDemo .formidableHeader-by {
  text-indent: 2px;
}

.formidableHeader.headerDemo .formidableHeader-container {
  max-width: 640px;
}

.main {
  flex: '1 1 auto';
  padding: '0 3vw';
  background-color: '#fff';
}
